
:root
{
  --primary-color:white;
  --primary-background-color:#272732;
}

img
{
  max-width: 100%;
  max-height: 100%;

}

h1
{
  color:var(--primary-color);
  margin-top:4rem;
  font-size: 1.8rem;
  text-align: center;
}
p
{
  color:var(--primary-color);
  font-size: 1.5rem;
  padding:20px;
  line-height: 1.3;
  text-align: center;
}
span
{
  color:var(--primary-color);
  display:inline-block;
  font-weight:bold;
  margin-top:1rem;
  text-align: center;
}


.adjust-icon
{
  width:80px;
  /* background:#52515c;
  opacity: 0.7; */
}

.button
{
  border:0px;
  padding:1rem 3rem;
  font-size: 1.5rem;
  color:white;
  background:#32aae1;
  font-weight: bold;
}


.carrousel
{
 width:100%;
 height:700px;
 /* border:1px solid red; */
 background:var(--primary-background-color);
}

.track-container
{
    width:100%;
    height:100%;
    /* background:silver; */
    display:grid;
    grid-template-columns: 0.2fr 5fr 0.2fr;
    grid-template-rows: 600px 100px;
    grid-template-areas:
    "left-arrow slides-container right-arrow"
    ". dots-container . ";
}

.left-arrow
{
    grid-area:left-arrow;
    /* border:1px solid green; */
    
}

.slides-container
{
  grid-area:slides-container;
  /* border:1px solid black; */
}
.right-arrow
{
    grid-area:right-arrow;
    /* border:1px solid green; */
}

.left-arrow ,.right-arrow
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.dots-container
{
  grid-area:dots-container;
  /* border:1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  

}
.carrousel-rectangle
{
  width:40px;
  height:10px;
  margin:5px;
  background:var(--primary-color);
  border:0px;
  

}

.slide
{
  display:grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 600px;
  grid-gap:20px;
  grid-template-areas: 
  "text-caption-container image-container";
  
}

.text-caption-container
{
  grid-area:text-caption-container;
  /* border:1px solid red; */
  background:var(--primary-background-color);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}
.image-container
{
  grid-area:image-container;
  margin-top:20px;
  /* background:blue; */
 
  
}
